@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model PieListViewModel 

    <h1>@Model.CurrentCategory</h1>
    @foreach (var pie in Model.Pies)
    {
        <partial name="_PieCard" model="pie" />
    }
